#################################################################################
#
# esphome/.gitignore
#
# Files to not include (ignore) for Git commits in this directory.
# This one is set up as an implicit exclude and only include what we name
#
#################################################################################

# Exclude everything by default
*

# Whitelist files/folders with !, these will not be ignored.
!*.yaml
!.gitignore
!*.md
!*.sh
!*.js*

# Uncomment these to include ssh keys (not recommended)
#!.ssh/
#!id_rsa*

# Include NodeRed but exclude the lock file it uses
!node-red/
node-red/package-lock.json

# Include custom components
!custom_components/

# Include ESPHome, that directory has its own .gitignore as well
!esphome/

# Include blueprints
!blueprints/

# Include deps
!deps/

# Don't include secrets (recommended)
secrets.yaml

# Ignore these files/folders
.storage
.cloud
.google.token 
#home-assistant.log
