#################################################################################
#
# esphome/.gitignore
#
# Files to not include (ignore) for Git commits in this directory.
# This one is set up as an implicit include all and exclude those named
#
#################################################################################
#
.esphome/
secrets.yaml
